* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
:root{
    --background-color: #000430;
    --seccondBackground: #171c48;
    --text-color: #fff;
    --purple: #800080;
    --teal: #008080;
}
body{
    background-color: var(--background-color);
    color: var(--text-color);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    margin: 120px auto 0 auto;
    max-width: 500px;
}
.stats-container{
    padding: 30px;
    border-radius: 20px;
    border: 2px solid var(--purple);
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}
.detailss{
    width: 100%;
}
#progressBar{
    width: 100%;
    height: 10px;
    background: var(--seccondBackground);
    border-radius: 10px;
    margin-top: 20px;
}
#progress{
    width: 0%;
    height: 10px;
    background: var(--teal);
    border-radius: 10px;
    transition: all 0.3s ease;
}
#numbers{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

/* form styling */
form{
    margin-top: 60px;
    display: flex;
    width: 100%;
    gap: 10px;
    color: var(--text-color);
}
form input{
    flex: 1;
    padding: 16px;
    color: var(--text-color);
    background: var(--seccondBackground);
    border: 1px solid var(--purple);
    border-radius: 10px;
    outline: none;
}
form button{
    width: 50px;
    height: 50px;
    background: var(--purple);
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    outline: none;
    font-size: 20px;
    font-weight: 300;
}
/* Task Items */
#taskList{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    list-style: none;
}
.taskItem{
    display: flex;
    background: var(--seccondBackground);
    padding: 15px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}
.taskItem img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.task{
    display: flex;
    align-items: center;
    gap: 10px;
}
.task input{
    height: 15px;
    width: 15px;
    margin: 0 10px;
    cursor: pointer;
}

.completed p{
    text-decoration: line-through;
    color: var(--teal);
}